/* import google font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* import google font */

/* ###################################
##################### */

/* Common css style */

button, input, input:hover, button:hover, button:focus, input:focus {
    outline: none !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

h1, h2, h3, h4, p {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none !important;
    color: #fff !important;
}

.font-small {
    font-size: 20px;
    font-weight: 200;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-17 {
    font-size: 17px;
    font-weight: 200;
}

.font-20 {
    font-size: 22px;
    font-weight: 600;
}

.font-30 {
    font-size: 26px;
}

.w-75 img {
    max-width: 95% !important;
}

.w-10 {
    width: 60px;
    margin-top: 13px;
    border-radius: 50%;
    height: 60px;
}

.color-white {
    color: #fff !important;
}

.link-color a {
    color: #fff !important;
    font-size: 13px;
}

.mt-15 {
    margin-top: 13rem!important;
}

.ml-xl {
    margin-left: 420px !important;
}

.mt-75 {
    margin-top: 7rem;
}

.rounded-img {
    border-radius: 12px;
}

.input-border, .input-border:hover, .input-border:focus {
    border: 2px solid #e75b4c !important;
}

.list-group-item {
    background: none !important;
    background-color: none !important;
    color: #fff !important;
}

.text-underline {
    text-decoration: underline !important;
}

.navbar-bg {
    background: -webkit-linear-gradient(to right, #e75b4c, #df483d);
    background: linear-gradient(to right, #e75b4c, #df483d);
}

.page-title {
    color: #6d6d6d;
    padding: 25px;
    margin-top: 56px;
}

/* Common css style */

/* ##################################
###################### */

.header__bg {
    background-image: url('../src/Images/StartUp_bg.png');
    background-size: cover;
    height: 700px;
    background-position: bottom;
    background-repeat: no-repeat;
}

span.logo-text {
    font-size: 13px;
    color: #fff;
}

p.logo-text {
    font-size: 11px;
    color: #fff;
    margin-left: 41px;
    margin-top: -15px;
}

.header_image img {
    width: 300px;
    padding: 30px;
}

/* Header img animation */

.header_image img {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.header_image img {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Header img animation */

.left-button {
    background: #fff !important;
    color: #121212 !important;
    padding: 10px 17px;
    border-radius: 25px;
    font-size: 12px;
}

.left-button:hover, .left-button:focus {
    border: 2px solid #fff !important;
}

.right-button {
    background-color: #2330ce !important;
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 12px;
}

.right-button:hover, .right-button:focus {
    border: 2px solid #2330ce !important;
}

.card {
    border: none;
    background-color: #ffffff;
    border-radius: 8px;
}

.service-container {
    margin-top: -260px;
}

.service-img {
    width: 20%;
    margin-top: 25px;
}

.service-title {
    text-align: center;
}

.service-description {
    text-align: center;
    color: #121212;
    font-size: 14px;
}

.work-heading {
    color: #121212;
    text-align: center;
    padding: 40px;
}

.work-title {
    font-size: 18px;
}

.title-text {
    color: #e75b4c !important;
}

.work-icon svg {
    margin: 0px 20px;
    color: #e75b4c;
    background: #eeeeee;
    font-size: 40px;
    border-radius: 4px;
    padding: 7px;
}

.work-text {
    color: #121212;
    font-size: 12px;
}

.feature-container {
    background: #fff;
    padding-top: 80px;
}

.price-btn {
    background: #e3e3e3;
    padding: 10px 13px;
    border-radius: 25px;
    margin: 0px 50px;
    text-align: center;
}

.gold-color {
    background: #e75b4c;
}

.position-absolute {
    top: 22%;
    left: 32%;
}

.background-img {
    background: url('../src/Images/Testimonial_bg.png') no-repeat center center;
    background-size: cover;
    height: 600px;
    overflow: hidden;
}

.testimonial_card {
    margin-right: 100px;
    padding: 0px 20px 0px 20px;
}

.footer-container {
    background: -webkit-linear-gradient(to right, #e75b4c, #df483d);
    background: linear-gradient(to right, #e75b4c, #df483d);
}

.submit-btn {
    background-color: #4c4c4c !important;
    color: #fff !important;
    border-radius: 0px !important;
}

.submit-btn:hover {
    background-color: #df483d !important;
    color: #fff !important;
}

.input-box {
    background-color: #fff !important;
    border-radius: 0px !important;
}

.input-box:hover, .input-box:focus {
    color: #fff !important;
    border-radius: 0px;
    border: 1px solid #fff !important;
}

.social-icon svg {
    margin: 16px;
    background: #fff;
    color: #df483d;
    padding: 6px;
    font-size: 31px;
    border-radius: 3px;
    cursor: pointer;
}

.social-icon svg:hover {
    margin-top: -2px;
    transition: .2s ease-in-out all;
}

/* About page css */

.about-title {
    text-align: center;
}

/* Blog Page Css */

/* Contact Page Css */

.find-btn a {
    background: -webkit-linear-gradient(to right, #e75b4c, #df483d);
    background: linear-gradient(to right, #e75b4c, #df483d);
    padding: 10px 20px;
    color: white !important;
}

.contact-form {
    background: white;
    padding: 50px;
    margin: 50px 0px 100px 0px;
    border-radius: 12px;
}

/* back to top icon design */

.back-to-top {
    text-align: end;
}

.back-to-top svg {
    color: white !important;
    font-size: 33px;
    background-color: #4c4c4c !important;
    padding: 5px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .position-absolute {
        top: 22.5%;
        left: 35%;
    }
}

@media (max-width: 991px) {
    .position-absolute {
        top: 23.5%;
        left: 32%;
    }
}

@media (max-width: 767px) {
    img.w-75.display {
        display: none;
    }
    .mt-15 {
        margin-top: 0rem!important;
    }
}